<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shan's guestbook</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div>Want your own? <a href='https://github.com/xyzshantaram/shans-guestbook'>Source code</a></div>
        <div>
            Copyright &copy; 2023&mdash; <a href="https://shantaram.xyz">Siddharth Singh</a>
        </div>
    </footer>
</body>

</html>